#navbar{
    display: flex;
    width: 100%;
    /* border: 1px solid black; */
    /* margin: auto; */
    /* text-align: end; */
    justify-content: end;
    gap: 10px;
    background-color:lightcyan;
    color: black;
}
a{
    text-decoration: none;
}
#menu{
    display: grid;
    grid-template-columns: repeat(1fr,4);
}